<div id="filter_form_container">
	<%=form_tag({controller:"recipes",action:"index"}, method:"get",id:"filter_form") do%>
		<div class="row">
			<%Ingredient.all.to_a.each do |item|%>
				<p data-key='<%=item.name%>' class="filter item col-sm-1 <%= 'selected' if params[:ingredients] && params[:ingredients].include?(item.name) %>">
					<%=item.name.capitalize%>
				</p>
			<%end%>
		</div>
		<div class="row">
			<button type="submit" class="btn btn-default col-sm-12">Filter</button>
		</div>
	<%end%>
</div>