
<%= form_for @recipe, html:{} do |f| %>
  <% if @recipe.errors.any? %>
  
    <div class= "alert alert-danger" role="alert">
      <div id="error_explanation">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title,class:"col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :title,class:'form-control' %>
    </div>

  </div>
  <div class="form-group">
    <%= f.label :description,class:"col-sm-2 control-label"%>
    <div class="col-sm-8">
      <%= f.text_area :description,class:'form-control' %>
    </div>

  </div>
  <div class="field" id="added_ingredients" style="display:none;">

  </div>
  <div class="form-group" id="ingredients_field" data-template='<%=template_fields(f,:ingredients)%>'>
    <label class="col-sm-2 control-label">Available Ingredients</label>
    <div class="col-sm-8">
      <%@ingredients.each do |item|%>
          <div class="ingredient">
            <span class="col-sm-1"><%=item[:ingredient].name.capitalize%></span>
            <span class="col-sm-1"><input data-id="<%=item[:ingredient].id%>" data-name="<%=item[:ingredient].name%>" type="checkbox" <%='checked' if item[:added]%>></span>
          </div>
       <%end%>
       <div class="form-group col-sm-8 col-sm-offset-1">
         <button type="button" id = "add_new_ingredient" class="btn btn-default icon remove_ingredient">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 
              Add More
          </button>
        </div>
    </div>
       
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit "Done", class:"btn btn-default col-sm-8"%>
    </div>
  </div>
<% end %>


<%=javascript_tag do %>
  $(function(){
    $("form").addClass("form-horizontal");
  });
<%end%>
