<div class="form-group">
	<%=f.hidden_field :id%>
	<%=f.label :name,class:"col-sm-1 control-label"%>
	<div class="col-sm-6">
      <%=f.text_field :name, class:'form-control'%>
    </div>
    <button type="button" class="btn btn-default icon remove_ingredient"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Remove</button>
</div>
