<div class="panel panel-default">
  <div class="panel-heading"><h3>Filter by Ingredients</h3></div>
  <div class="panel-body">
    <%=render 'filter_form'%>
  </div>
</div>

  

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title.capitalize %></td>
        <td><%= recipe.description.capitalize%></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<nav>
  <ul class="pagination">
    <li>
      <%= link_to 'New Recipe', new_recipe_path %>
    </li>
  </ul>
</nav>