<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recipe</h3>
  </div>
  <div class="panel-body">
	  	<p>
		  <strong>Title:</strong>
		  <%= @recipe.title.capitalize %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @recipe.description.capitalize %>
		</p>
  </div>
  <ul class="list-group">
  		<h4>Ingredients</h4>
		<%@recipe.ingredients.each do |item|%>
			<li class="list-group-item"><%=item.name.capitalize%></li>
		<%end%>
	</ul>
</div>

<nav class="col-sm-10">
  <ul class="pagination">
    <li>
    	<%= link_to 'Edit', edit_recipe_path(@recipe) %>
	</li>
    <li>
    	<%= link_to 'Back', recipes_path %>
	</li>
  </ul>
</nav>