#ingredients_field{
	&>section{
		float:left;
		position:relative;
		display:inline-block;
		width:20%;
		min-width:100px;
		height:300px;
		border:1px solid black;
	}
}

#filter_form{
	margin:0px 3%;
	.filter.item{
		font-size:15px !important;
		margin:1px !important;
		background:#777;
		color:white;
		border-radius:5px;
		padding:2px;
		padding:.2em .6em .3em;
		cursor:pointer;
		text-align:center;

		&.selected{
			background:#5cb85c;
		}
	}

	.row{
		margin-top:10px;
	}
}
